---
 const personalImageAlt = "Edinson Urbano"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >

  <p>
    ¡Hola! Soy <strong>Edinson Urbano</strong>, un apasionado por la
    tecnología, el desarrollo de software y el aprendizaje constante. Desde joven
    me interesó cómo funcionan las cosas detrás de la pantalla, y eso me llevó a
    convertirme en <strong>desarrollador full stack y móvil</strong>. Hoy, con experiencia
    en backend, desarrollo web, apps móviles y despliegue en la nube, me encanta
    crear soluciones que realmente le faciliten la vida a las personas y a las
    empresas.
  </p>
  
  <p>
    He tenido la oportunidad de trabajar en proyectos muy interesantes, como el
    desarrollo de una <strong>plataforma interna para control de inventario de equipos</strong>,
    la <strong>automatización de procesos empresariales</strong> y la implementación de
    <strong>notificaciones automatizadas con firmas digitales</strong>. Disfruto colaborar en
    equipo, mejorar lo que ya existe y explorar nuevas formas de resolver
    problemas con tecnología. Siempre estoy dispuesto a aprender algo nuevo, ya
    sea una herramienta, un lenguaje o una forma diferente de pensar.
  </p>
  
  <p>
    Cuando no estoy escribiendo código, seguramente estoy ayudando a alguien más
    a entenderlo. Me gusta <strong>compartir lo que sé</strong>, ya sea en una conversación
    informal o guiando a otros desarrolladores. Soy curioso, creativo y me motiva
    mucho ver cómo una idea se convierte en algo real que funciona. Actualmente,
    me encuentro creando <strong>MULTI-SERVICIOS</strong> y aprendiendo cada día más, con la meta de
    algún día liderar una comunidad destacada dentro del mundo del
    <strong><em class="italic">Software</em></strong>.
  </p>
  

  </div>

  <img width="200" height="200" src="../../public/projects/svgl.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>