---
import Linkedin from '../components/icons/Linkedin.astro';
import Github from '../components/icons/Github.astro';
import Mail from '../components/icons/Mail.astro';
import Socialrd from '../components/Socialrd.astro';
---

<nav class="flex gap-4 nt-10 mt-8 flex-wrap">
    <Socialrd href="https://www.linkedin.com/in/edinsondevurn/">
        <Linkedin class="size-4 md:size-6" /> LinkedIn
    </Socialrd>

    <Socialrd href="https://github.com/urbanoURN">
        <Github class="size-4 md:size-6" /> GitHub
    </Socialrd>

    <Socialrd href="mailto:edinsondevurn@gmail.com">
        <Mail class="size-4 d:size-6" /> edinsondevurn@gmail.com

    </Socialrd>
</nav>	