---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCES = [
    {
        title: "ERCO ENERGI | Desarrollo BackEnd",
        description:
            "Soporte y optimizaci贸n de desarrollos existentes. Creaci贸n de plataforma interna para control de inventario. Implementaci贸n de sistema de firmas digitales. Automatizaci贸n de procesos internos. Mantenimiento y seguridad del software corporativo",
        date: "Octubre 2024 - Abril 2025",
    }
]
---

<ol class="relative border-s border-gray-200 ml-3">

    {
        EXPERIENCES.map((experience) => (
           <li class="mb-10 ms-4">
                <ExperienceItems {...experience} />
           </li>
        ))
    }


</ol>
