---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCES = [
    {
        title: "ERCO ENERGI | Desarrollo BackEnd",
        description:
            "Brindé soporte a desarrollos existentes optimizando código y estructura; colaboré en el desarrollo de una nueva plataforma interna para el control de inventario de equipos; implementé un sistema de firmas digitales con notificaciones automáticas por correo; participé en la automatización de procesos internos y ayudé en la realización de funciones relacionadas con el mantenimiento del software interno de la empresa",
        date: "Octubre 2024 - Abril 2025",
    }
]
---

<ol class="relative border-s border-gray-200 ml-3">

    {
        EXPERIENCES.map((experience) => (
           <li class="mb-10 ms-4">
                <ExperienceItems {...experience} />
           </li>
        ))
    }


</ol>
